/* ---------- ROOT ---------- */
:root {
  --light_background: #DFE7E6;
  --darkgreen: #137D4E;
  --textgreen: #006C3A;
  --bottomgreen: #44916F;
  --lightgrey: #C3CBCE;
  --greytext: #334856;
}

/*ARLA FONTE*/
  @font-face {
    font-family: "Arla";
    src: url("../fonts/arlaifbd.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/arlaifbd.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */
      url("../fonts/arlaifbd.otf") format("opentype"),
      /* Open Type Font */
      url("../fonts/arlaifbd.svg") format("svg"),
      /* Legacy iOS */
      url("../fonts/arlaifbd.ttf") format("truetype"),
      /* Safari, Android, iOS */
      url("../fonts/arlaifbd.woff") format("woff"),
      /* Modern Browsers */
      url("../fonts/arlaifbd.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: 700;
    font-style: normal;
  }

  /* Arla Normal Font Face */
  @font-face {
    font-family: "Arla";
    src: url("../fonts/arlaifrg.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/arlaifrg.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */
      url("../fonts/arlaifrg.otf") format("opentype"),
      /* Open Type Font */
      url("../fonts/arlaifrg.svg") format("svg"),
      /* Legacy iOS */
      url("../fonts/arlaifrg.ttf") format("truetype"),
      /* Safari, Android, iOS */
      url("../fonts/arlaifrg.woff") format("woff"),
      /* Modern Browsers */
      url("../fonts/arlaifrg.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: 400;
    font-style: normal;
  }

  /* Arla Light Font Face */
  @font-face {
    font-family: "Arla";
    src: url("../fonts/arlaiflt.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/arlaiflt.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */
      url("../fonts/arlaiflt.otf") format("opentype"),
      /* Open Type Font */
      url("../fonts/arlaiflt.svg") format("svg"),
      /* Legacy iOS */
      url("../fonts/arlaiflt.ttf") format("truetype"),
      /* Safari, Android, iOS */
      url("../fonts/arlaiflt.woff") format("woff"),
      /* Modern Browsers */
      url("../fonts/arlaiflt.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: 300;
    font-style: normal;
  }

/* ---------- OVERALL ---------- */
*{
  margin: 0;
  padding: 0;
}

html {
  color: var(--textgreen);
  background-color: var(--light_background);
font-family: 'Arla', Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
}

.tabbarclear {
  bottom: 0;
  left: 0;
  right: 0;
  height: 65px;
}

#greenb {
  background-color: var(--bottomgreen);
  padding: 10px 15px;
  width: auto;
  color: white;
  font-weight: lighter;
  font-size: 1em;
  border-radius: 3px;
  box-shadow: 4px 4px 10px var(--lightgrey);
}

#whiteb {
border: 1px solid var(--bottomgreen);
  padding: 10px 15px;
  width: auto;
  color: var(--bottomgreen);
  font-weight: lighter;
  font-size: 1em;
    border-radius: 3px;
    box-shadow: 4px 4px 10px var(--lightgrey);
}


/* ---------- TOPBAREN MED SIDETITEL ---------- */
.topbar {
  background-color: var(--light_background);
  color: var(--textgreen);
  padding: 13.5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.topbar a.left {
  left: 20px;
  position: absolute;
  top: 20px;
    text-decoration: none;
    height: 20px;
    width: 20px;
}

header h2{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.1em;
}


/* ---------- TABBAR I BuNDEN ---------- */
.tabbar {
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 65px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.tab_left, .tab_right {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 40%;
}

.tab_left{
  left: 0;
}

.tab_right {
  right: 0;
}

/* LINKS I TABBAREN */
.tabbar a {
  color: var(--greytext);
  text-align: center;
  text-decoration: none;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  text-transform: lowercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tabbar a.active .home {
background-image: url(images/navigation/home_color.svg);
}
.tabbar a.active .dash {
background-image: url(images/navigation/dash_color.svg);
}
.tabbar a.active .challengeicon {
background-image: url(images/navigation/challenge_color.svg);
}
.tabbar a.active .enter {
background-image: url(images/navigation/data_color.png);
}
.tabbar a.active .settings {
background-image: url(images/navigation/setup_color.svg);
}

.home, .dash, .challengeicon, .enter, .settings{
  height: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.home {
  background-image: url(images/navigation/home_grey.svg);
}
.dash {
  background-image: url(images/navigation/dash_grey.svg);
}
.challengeicon {
  background-image: url(images/navigation/challenge_grey.svg);
}
.enter {
  background-image: url(images/navigation/data_grey.png);
}
.settings {
  background-image: url(images/navigation/setup_grey.svg);
}

/*CHALLENGE BUTTON*/
.challenge {
background-color: #EBEBEC;
border-radius: 50%;
box-shadow: 0px 2px 5px grey;
position: absolute;
width: 65px;
height: 65px;
left: 50%;
transform: translate(-50%, 0);
bottom: 22px;
}


/* ---------- STYLING AF DE ENKELTE SIDER ---------- */
.page {
  display: none;
  background: var(--light-grey);
  animation: fadeIn 0.4s;
  padding: 55px 0;
}


/*HOME*/
#home{
  background-color: white;
}

#home .topbar {
   background-color: white;
}

.smalledit{
  height: 20px;
  position: absolute;
  right: 20px;
  z-index: 1000;
  padding-top: 20px;
}

#home form {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background-color: var(--greytext);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 6px;
}

#home form input {
  width: 70%;
  margin: auto;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--darkgreen);
}

#home form button {
  width: auto;
  margin: auto;
  padding: 10px 20px;
  background-color: var(--bottomgreen);
  border: none;
  color: white;
}

.image-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin:auto;
}

#profile {
width: 100%;
}

#profile p {
  margin-bottom: 35px;
}

#pb {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin:auto;
  margin-top: 40px;
  margin-bottom: 10px;
}

#calltoaction {
  display: flex;
  justify-content: space-around;
  width: 72%;
margin: auto;
margin-bottom: 40px;
}

#calltoaction a {
  text-decoration: none;
}

#keydata {
  width: 95%;
  border-radius: 6px;
padding-top: 20px;
    margin: auto;
  background-color: var(--light_background);
  color: var(--greytext);
}

#keydata div{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
justify-content: center;
margin-top: 20px;
margin-bottom: 20px;
}

#keydata div div {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding: 10px;
  width: 27%;
}

#keydata h3 {
  font-weight: lighter;
}

#keydata h4 {
  font-size: 1.5em;
}

#keydata div div p {
  margin-top: 10px;
  font-size: 0.8em;
  font-weight: lighter;
}

div#fulllength {
  border-top: var(--lightgrey) 2px solid;
  flex-grow: 3;
}


#borders {
  border-left: var(--lightgrey) 2px solid;
border-right: var(--lightgrey) 2px solid;
}

#bestresults {
  padding: 10px;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}

#bestresults div {
display: flex;
flex-direction: column;
align-content: center;
justify-content: space-between;
min-width: 120px;
max-width: 120px;
padding: 10px;
background-color: #CFFCDC;
border: 3px solid var(--darkgreen);
border-radius: 4px;
margin: 10px;
}

#bestresults h3 {
  font-size: 0.9em;
  padding-bottom: 20px;
}

#bestresults h2 {
  font-size: 1.3em;
}

.alignleft {
  text-align: left;
  margin-left: 10px;
  margin-top: 50px;
  font-size: 1.1em;
}

#badgets {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  overflow: hidden;
  overflow-x: scroll;
}

#badgets::-webkit-scrollbar, #bestresults::-webkit-scrollbar {
  display: none;
}


#badgets div {
  min-width: 140px;
  max-width: 140px;
  font-size: 0.6em;
}

#badgets div img {
  width: 50%;
}

#updateProfile {
  display: none;
}
#updateProfile.show{
  display:block;
animation: fadeIn 0.4s;
}

/*DASHBOARD*/


/*CHALLENGE*/


/*DATAINDSAMLING*/
#enterData header{
  background-color: white;
}
#enterData {
  background-color: white;
}
#inputter{
  background-color: var(--light_background);
  padding-bottom: 5%;
  padding-top: 5%;
  min-height: 100%;
  margin-top: 5%;
  margin-bottom:
}
#inputdata h4{
  margin-left: 5%;
  text-align: left;
  font-size: 25px;
}
#inputdata{
  display: flex;
  flex-direction: column;
  background-color: white;
  border: solid white;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 5%;
  width: 90%;
  margin-left: 5%;
  border-radius: 5px;




}
.buttongem {
  background-color: var(--lightgrey); /* Green */
  border-radius: 10px;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  cursor: pointer;
  margin-top: 5%;
}
#inputdata label {
  text-align: center;
  font-size: 20px;
  margin-top: 5%;
}

#inputdata input{

  width: 80%;
  height: 50px;
  text-align:left;
  margin-left: 4%;
  border: var(--lightgrey) 1px solid;
  border-radius: 10px;
  font-size: 20px;

}
#inputdata placeholder {

}

#cowQuest, #feedQuest, #useQuest, #milkQuest {
  display: none;
}
#cowQuest.show {display:flex;
flex-direction: column;
animation: fadeIn 1s;}

#feedQuest {
  display: none;
}
#feedQuest.show {display:flex;
flex-direction: column;
animation: fadeIn 1s;
}
#milkQuest {
  display: none;
}
#milkQuest.show {display:flex;
flex-direction: column;
animation: fadeIn 1s;}

#useQuest {
  display: none;
}
#useQuest.show {display:flex;
flex-direction: column;
animation: fadeIn 1s;}

/*SETUP*/


/* ---------- ANIMATIONER ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- LOADING SCREEN ---------- */
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  background: var(--loader-background-color);
  text-align: center;
}

.spinner {
  border: 5px solid var(--light-grey);
  border-radius: 50%;
  border-top: 5px solid var(--light-green);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

/* ---------- FIREBASE LOGIN STYLING---------- */
#firebaseui-auth-container {
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.firebaseui-container {
  font-family: var(--font-family);
  font: 16px var(--font-family);
}

.firebaseui-title {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.firebaseui-button {
  max-width: 35%;
}

.mdl-button--raised.mdl-button--colored,
.mdl-button--raised.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored:hover {
  background: var(--green);
  color: #fff;
  border-radius: 0;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: var(--green);
}

.mdl-button--primary.mdl-button--primary {
  color: var(--green);
}


/*Responsive*/
/*---------------TABLET-----------------*/
@media (min-width: 600px) {

}


/*-----------DESKTOP-------------------*/
@media (min-width: 992px) {

}
